
/* Slider STyling */
.slider {
  /* position: relative;
  top:0px; */
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.imag-slider img{
  object-fit: contain;
  object-position:center;
  border-radius: 10px;
  
}
.right-arrow {
  position: absolute;
  top: 50%;
  right: 32px;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: 32px;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}
.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}
/* Banner style*/
.banner-title_move{
    position: relative;
}
.banner-title{
    position:absolute;
    top:70px;
    margin:80px 30px;
    font-weight: 600;
    font-family: arial;
    color:#fff;
    text-shadow: 5px 5px 5px black;
}
.banner-title h1{
    font-size:2em;
    margin-bottom:30px;
    text-align: left;
    width: 80%;
}
.banner-title h1 span{
    color:yellow;

} 
/* Button on the home page style*/
.btn-home{
    border-radius: 4px;
  background-color:#b38600;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
.btn-home span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .btn-home span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .btn-home:hover span {
    padding-right: 25px;
  }
  
  .btn-home:hover span:after {
    opacity: 1;
    right: 0;
  }
  /* collection style*/
  .art-work h1, .art-work h2{
    color: #181818;
    font-size: 40px;
    font-weight: 500;
    text-align: center;
    margin-top:20px;
}
.feat-paints h2{
    font-size:29px;
    font-weight:500;
    text-align: left;
    margin: 10px 20px;
    }
    .histo-col, .featone, .feattwo,.sidew, .sidew-one, .sidew-two{
        position: relative;
    }
    .histo{
        background-image: url(https://i.pinimg.com/474x/b8/46/a9/b846a9333258a08755d812ebd4a6d597.jpg);
        background-position:center;
        background-size:90% 90%;
        background-repeat:no-repeat;
        position: absolute;
        left:40px;
        top:600px;
        z-index:3000;
        border: 5px solid black;
        padding: 5px;
        width:230px;
        height: 270px;
        text-align: center;
        color: #fff;
        font-size: 20px;
        text-shadow: 5px 5px 5px black;
    }
    .histo h3, .histo p, .first-land h3, .first-land p, .wild h3, .wild p, .child-paint h3, .child-paint p, .abs-paint h3, .abs-paint p, .paint-queen h3, .paint-queen p {
        position: relative;
        top:90px;
    }
    .paint-queen h3, .paint-queen p {
        position: relative;
        top:150px;
    }
    .first-land{
        background-image: url(https://i.pinimg.com/474x/eb/5b/2b/eb5b2ba78e81dd0c609cdd96e2a47231.jpg);
        background-position:center;
        background-size:90% 90%;
        background-repeat:no-repeat;
        position: absolute;
        left:40px;
        top:900px;
        z-index:2;
        border: 5px solid black;
        padding: 5px;
        width:230px;
        height: 270px;
        text-align: center;
        color: #fff;
        font-size: 20px;
        text-shadow: 5px 5px 5px black;
    }
    .child-paint{
        background-image: url(https://i.pinimg.com/474x/8d/be/6b/8dbe6bed6a7b57fbd9588570e22b0c1c.jpg);
        background-position:center;
        background-size:90% 90%;
        background-repeat:no-repeat;
        position: absolute;
        left:40px;
        top:1300px;
        z-index:2;
        border: 5px solid black;
        padding: 5px;
        width:230px;
        height: 270px;
        text-align: center;
        color: #fff;
        font-size: 20px;
        text-shadow: 5px 5px 5px black;
    }
    .wild{
        background-image: url(https://i.pinimg.com/474x/a8/63/18/a863189d9a9bcce43825e7f09acba41e.jpg);
        background-position:center;
        background-size:90% 90%;
        background-repeat:no-repeat;
        position: absolute;
        left:40px;
        top:1700px;
        z-index:2;
        border: 5px solid black;
        padding: 5px;
        width:230px;
        height: 270px;
        text-align: center;
        color: #fff;
        font-size: 20px;
        text-shadow: 5px 5px 5px black;
    }
    .abs-paint{
        background-image: url(https://i.pinimg.com/474x/13/21/a8/1321a815e63a99eb11f6c25957565db8.jpg);
        background-position:center;
        background-size:90% 90%;
        background-repeat:no-repeat;
        position: absolute;
        left:40px;
        top:2100px;
        z-index:2;
        border: 5px solid black;
        padding: 5px;
        width:230px;
        height: 270px;
        text-align: center;
        color: #fff;
        font-size: 20px;
        text-shadow: 5px 5px 5px black;
    }
    .paint-queen{
        background-image:url(https://i.pinimg.com/474x/80/42/f6/8042f6d69d53de15d27aa9e378e09cdb.jpg);
        background-position:center;
        background-size:90% 90%;
        background-repeat:no-repeat;
        position: absolute;
        left:40px;
        top:2500px;
        z-index:2;
        border: 5px solid black;
        padding: 5px;
        width:200px;
        height: 230px;
        text-align: center;
        color: #fff;
        font-size: 20px;
        text-shadow: 5px 5px 5px black;
    }
    .choice{
        position: relative;
        background-color:#F8F8F8;
        margin-top: 70px;
        height:60vh;
    }
    .choice-sub{
        position:absolute;
    }
    .choice h2{
        font-size: 37px;
        margin:20px 230px;
        text-align: center;
        color:#00004d;
    }
    .collection{
        background-color: #fff;
        border-radius: 5px;
        width:400px;
        height:700px;
        margin: 40px 80px;
        padding:10px;
        box-shadow: 5px 5px 5px black;
    
    }
    .collection_side{
        position: relative;
        top:-400px;
        left: 400px;
        background-color: #fff;
        border-radius: 5px;
        width:600px;
        height:300px;
        float: right;
        margin: 40px 80px;
        padding:10px;
        box-shadow: 5px 5px 5px black;
    }
    .choice img{
        width:100px;
        height: 100px;
        object-fit:cover;
        object-position: center;
    }
    .choice p{
        position: relative;
        top:-60px;
        left:100px;
        font-size:30px;
        font-weight: 400;
        width: 400px;
    }
    @media(min-width:301px) {
        .art-work{
            background-color:red;
        }
    }
    @media (max-width:1160px) and (min-width:400px) {
    .art-work{
        background-color:#b38600;
    }
    }
   
    